@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');
*{
    margin: 0;
    padding: 0;
}

body{ 
    background-color: #00916E;
}

/* navbar */
.container{
    display: flex;
    position: relative;
}

nav{
    position: fixed;
    width: 200px;
    height: 100%;
    padding: 30px 0 0 0;
    background-color: #FFCF00;
    justify-content: space-between;
    text-align: center;
    font-family: 'Jua', sans-serif;
    border-radius:0 60px 0 0 ;
    color: rgb(0, 0, 0);
}

nav ul{
    display: flex;
    flex-direction: column;
    list-style: none;
    margin-top: 30px;
}

nav ul li{
    padding: 20px;
    margin-top: 15px;
    font-weight: 1000;
    cursor: pointer;
    transition: all .4s;
}

nav ul li a{
    text-decoration: none;
    font-size: 28px;
    color: rgb(0, 0, 0);
}

nav ul li:hover{
    transform: scale(0.95);
}