@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');
*{
    margin: 0;
    padding: 0;
}

body{ 
    background-color: #00916E;
}

/* navbar */
.container{
    display: flex;
    position: relative;
}

nav{
    position: fixed;
    width: 200px;
    height: 100%;
    padding: 30px 0 0 0;
    background-color: #FFCF00;
    justify-content: space-between;
    text-align: center;
    font-family: 'Jua', sans-serif;
    border-radius:0 60px 0 0 ;
    color: rgb(0, 0, 0);
}

nav ul{
    display: flex;
    flex-direction: column;
    list-style: none;
    margin-top: 30px;
}

nav ul li{
    padding: 20px;
    margin-top: 15px;
    font-weight: 1000;
    cursor: pointer;
    transition: all .4s;
}

nav ul li:hover{
    transform: scale(0.95);
}

nav ul li a{
    text-decoration: none;
    font-size: 28px;
    color: rgb(0, 0, 0);
}

/* border
.persediaan{
    border: 1px solid;
    border-right: 100px;
} */

.stok1{
    width: 100px;
    border: 1px solid;
    padding: 20px;
    background-color: yellow;
    border-radius: 10px;
    font-family: 'Jua', sans-serif;
}

.grup{
    display: flex;
    flex-direction: row;
    margin-left: 25em;
    margin-top: 70px;
    font-family: 'Jua', sans-serif;
}

.uang{
    width: 100px;
    border: 1px solid;
    padding: 20px;
    background-color: yellow;
    border-radius: 10px;
    font-family: 'Jua', sans-serif;
}

.dolar{
    margin-left: 30em;
}

.arrow{
    width: 100px;
    border: 1px solid;
    padding: 20px;
    background-color: yellow;
    border-radius: 10px;
    font-family: 'Jua', sans-serif;
}

.jam{
    width: 100px;
    border: 1px solid;
    padding: 20px;
    background-color: yellow;
    border-radius: 10px;
    font-family: 'Jua', sans-serif;
}

.grup1{
    display: flex;
    flex-direction: row;
    margin-left: 25em;
    margin-top: 10em;
    font-family: 'Jua', sans-serif;
}

.penjelajahan{
    margin-left: 30em;
}

.smk{
    font-family: 'Jua', sans-serif;
    padding-top: 20px;
    background-color: #EE6123;
    height: 90px;
    width: 10em;
    border-radius: 0 0 20px 20px;
}
